/*styles.css*/

* {
    background-color: rgb(255, 255, 190);
    text-align: center;
    color: red;
    font-family: "Zilla Slab", serif;
    border: 0px solid red;
}

.title {
    background-color: rgb(247, 247, 103);
}

h1.title {
    font-size: 48px;
    font-weight: 700px;
}

h2.title {
    font-size: 30px;
    font-weight: 600px;
}

ul,
ul li { 
    list-style-type: none;
    padding:0;
}

ol,
ol p {
    padding: 0;
    text-align: left;
}

a:link,
a:visited,
a:hover {
    font-weight: 500;
}

.contents{
    width: 70%;
    height: auto;
    margin: auto;
}

img {
    width: 800px;
    height: auto;
}

.recipes {
    width: 800px;
    display: flex;
    text-align: center;
    margin: inherit;
}

.recipes li {
  margin: inherit;
}
